.App {
  text-align: center;
}

.App-logo {
  /* height: 25vmin; */
  width: 20vmin;
  height: 8vh;
  pointer-events: none;

  margin-right: 20px;
  margin-left: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: #282c34;
  min-height: 90vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-map-link {
  color: #e7e4e7;
  padding-left: 30px;
}

.selected {
  background-color: #282c34;
  color: #7d7f80;
}
